<html>
<head>
    <title>Gumball Quiz</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt" rel="stylesheet">
</head>
<body>
<ul>
    <li id="name">
        <a class="active" href="/"><%= name %></a>
    </li>
    <li>
        <a href="/contact"><%= nav1 %></a>
    </li>
    <li>
        <a href="/game"><%= nav2 %></a>
    </li>
    <li>
        <a href="/highscores"><%= nav3 %></a>
    </li>
</ul>

<div id="container" background="http://www.wordmstemplates.com/wp-content/uploads/2015/08/lined-paper-template-6589.png">
    <div id="bcontainer">
        <h1>Hope you liked it!</h1>
    </div>
    <div>
        <p>This site was thrown together fairly quickly on finals week by an exhausted computer science student who was desperatly trying to impress her professor. I hope you liked it but I don't care too much if you didn't. If you did not like it send me an email and I may or may not respond. Thanks! </p>
    </div>
    <div>
        <h1>Stephanie Gonzales</h1>
        <h1>stephanie.gonzales@usu.edu</h1>
    </div>
</div>
</body>
</html>