<html>
<head>
    <title>Gumball Quiz</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt" rel="stylesheet">
</head>
<body>
<ul>
    <li id="name">
        <a class="active" href="/"><%= name %></a>
    </li>
    <li>
        <a href="/contact"><%= nav1 %></a>
    </li>
    <li>
        <a href="/game"><%= nav2 %></a>
    </li>
    <li>
        <a href="/highscores"><%= nav3 %></a>
    </li>
</ul>

<div id="container" background="http://www.wordmstemplates.com/wp-content/uploads/2015/08/lined-paper-template-6589.png">
    <div id="bcontainer">
        <h1>How well do you know Gumball?</h1>
    </div>
    <div>
        <img src="http://pre11.deviantart.net/02b3/th/pre/i/2014/263/1/f/gumball_by_autumncorgi-d7zy447.png"/>
    </div>
    <div id="bcontainer">
        <button><a href="/game">Click to Play!</a></button>
    </div>
</div>
</body>
</html>